/* сброс стилей */
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* сброс стилей  */

body {
    padding: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* .block {
    border: 5px solid red;
    max-width: 800px;
    margin: 0 auto;
    height: 1500px;
    position: relative;
}

.block div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.block__1 {
    background-color: greenyellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.block__2 {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.block__3 {
    background-color: purple;
    color: #fff;
    position: relative;
    z-index: 1;
} */

.list {
    font-size: 18px;
}

.list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
}

.list li::before {
    content: " ";
    background: url(/gh-t1/img/svg/li.svg) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 0;
}
